.App {
  text-align: center;
  /* margin: 0px 10px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  display:flex;
  flex-direction:column;
  width: 70%;
  margin: auto;
  border: 2px solid black;
}

 .main-header{
  display:flex;
  flex-direction:column;
  border-bottom: 2px solid black;
}

.controls{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.sub{
  display: flex;
  align-items: center;
  gap: 10px;
}

.lists{
  display:flex;
  }

  .lists :first-child{
    border-right: 2px solid black;
    flex-grow: 2;
  }
  .lists :nth-child(2){
    flex-grow: 1;

  }

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid blue;
}
