.App {
  text-align: center;
  box-sizing: border-box;

}

.container{
  display:flex;
  flex-direction:column;
  width: 70%;
  margin: auto;
  border: 2px solid black;
}

 .main-header{
  display:flex;
  flex-direction:column;
  border-bottom: 2px solid black;
}

.controls{
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.sub{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 0 10px;
}

.lists{
  display:flex;
  }

  .customer-list{
    border-right: 2px solid black;
    width: 50%;
    height: 500px;
  }

  .feedback-list{
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  p{
    text-align: center;
    margin: 25%;
  }

  h2{
    margin-left: 10px;
  }

.btn{
  display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    color : #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}

.input {
  padding: 0.375rem 0.75rem;
  box-sizing: border-box;
  border: 2px solid #007bff;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li{
  border-bottom: 2px solid black;
}

li{
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

.shaded{
  background-color: #DCDCDC;
}
